*.lcdoc
*.2.lcm
*.ferruslogic.library.fluidsynth.lci
*.xml
*.ferruslogic.library.fluidsynth.1.0.0.lce
code/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
sf2/mega20.sf2
sf2/FreePatsGM-20201122.sf2
sf2/4600_effects.sf2
sf2/ChoriumRevA.sf2
sf2/Eviltimp.sf2
sf2/Fury.dls
sf2/jgb909.sf2
sf2/Jonpv Slap Bass.sf2
sf2/LP Overdriven Guitar.sf2
sf2/Plastic Strings.sf2
sf2/Scratch_2_0.sf2
sf2/Super_Nintendo_Unofficial_update.sf2
sf2/Casio Pt-68.sf2
sf2/Casio Sk-1.sf2
sf2/DethMetal 2.nki
sf2/DethMetal-New.dls
sf2/SlamminKit.dls
