*.lcdoc
*.2.lcm
*.ferruslogic.library.fluidsynth.lci
*.xml
*.ferruslogic.library.fluidsynth.1.0.0.lce
code/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
sf2/mega20.sf2
sf2/FreePatsGM-20201122.sf2
sf2/4600_effects.sf2
sf2/ChoriumRevA.sf2
sf2/Eviltimp.sf2
sf2/Fury.dls
sf2/jgb909.sf2
sf2/Jonpv Slap Bass.sf2
sf2/LP Overdriven Guitar.sf2
sf2/Plastic Strings.sf2
sf2/Scratch_2_0.sf2
sf2/Super_Nintendo_Unofficial_update.sf2
sf2/Casio Pt-68.sf2
sf2/Casio Sk-1.sf2
sf2/DethMetal 2.nki
sf2/DethMetal-New.dls
sf2/SlamminKit.dls
sf2/+All Hip Hop Beats.sf2
sf2/+Hip Hop Combo.sf2
sf2/Beat 1 113 BPM.sf2
sf2/Beat 2 115 BPM.sf2
sf2/Beat 3 115 BPM.sf2
sf2/Beat 4 118 BPM.sf2
sf2/Beat 5 118 BPM.sf2
sf2/Beat 6 119 BPM.sf2
sf2/Beat 7 121 BPM.sf2
sf2/Beat 8 121 BPM.sf2
sf2/Beat 9 123 BPM.sf2
sf2/Beats 113-123bpm.sf2
sf2/Drum Stab.sf2
sf2/Drum Stall.sf2
sf2/DX Bass 1.sf2
sf2/MC Scratch.sf2
sf2/Mini 1.sf2
sf2/Mini 2.sf2
sf2/Mini 3.sf2
sf2/Mini 4.sf2
sf2/Mood Strings.sf2
sf2/Oh Yaaah.sf2
sf2/Organ Blipper.sf2
sf2/Phat Pad.sf2
sf2/Phlappy Bass.sf2
sf2/Piano Wave.sf2
sf2/Plunger.sf2
sf2/Pocket Bass.sf2
sf2/Power Q Bass.sf2
sf2/PPG Bass.sf2
sf2/Pretty EP.sf2
sf2/Q Attack Sub.sf2
sf2/Q Bass 1.sf2
sf2/Q Bass 2.sf2
sf2/Q Bass 3.sf2
sf2/Rast Keys.sf2
sf2/Ripped.sf2
sf2/Sad Guitar.sf2
sf2/Saw Bass.sf2
sf2/Sax FX 1.sf2
sf2/Sax FX 2.sf2
sf2/Sax FX 3.sf2
sf2/Sax Riff.sf2
sf2/Scratch Diss.sf2
sf2/Scratch Here.sf2
sf2/Scratch On It.sf2
sf2/Scratch Out!.sf2
sf2/Scratch Up.sf2
sf2/SE Sub 1.sf2
sf2/SE Sub 2.sf2
sf2/SE Sub 3.sf2
sf2/SE Sub 4.sf2
sf2/SE Sub 5.sf2
sf2/SE Sub 6.sf2
sf2/SE Sub 7.sf2
sf2/Soul Oohs.sf2
sf2/Spacey Keys.sf2
sf2/Street Bass.sf2
sf2/Tape Pull.sf2
sf2/Tape Stop.sf2
sf2/TB303 1.sf2
sf2/TB303 2.sf2
sf2/TB303 3.sf2
sf2/TB303 4.sf2
sf2/Trumpet FX 1.sf2
sf2/Trumpet FX 2.sf2
sf2/Trumpet FX 3.sf2
sf2/Trumpet FX 4.sf2
sf2/Trumpet FX 5.sf2
sf2/Up Scratch.sf2
sf2/DX Bass 2.sf2
sf2/DX Bass 3.sf2
sf2/EP Bass 1.sf2
sf2/EP Bass 2.sf2
sf2/EP Bass 3.sf2
sf2/EP Fog.sf2
sf2/EP Hits.sf2
sf2/EP Roll 1.sf2
sf2/EP Roll 2.sf2
sf2/EP Roll 3.sf2
sf2/Frenzy Scratch.sf2
sf2/Fretless 1.sf2
sf2/Fretless 2.sf2
sf2/Fretless 3.sf2
sf2/Fretless 4.sf2
sf2/Gtr Another Hit.sf2
sf2/Gtr Chord Chuck.sf2
sf2/Gtr Funky Hit.sf2
sf2/Gtr Hi Chuck.sf2
sf2/Gtr Jangle.sf2
sf2/Gtr Jazz Riff 1.sf2
sf2/Gtr Jazz Riff 2.sf2
sf2/Gtr Jazz Riff 3.sf2
sf2/Gtr Klean Chuck.sf2
sf2/Gtr Riff 1.sf2
sf2/Gtr Riff 2.sf2
sf2/Gtr Riff 3.sf2
sf2/Gtr Scratch.sf2
sf2/Gtr Slide Riff.sf2
sf2/Gtr Up Stroke.sf2
sf2/Gtr Wawa 1.sf2
sf2/Gtr Wawa 2.sf2
sf2/Gtr Wawa 3.sf2
sf2/Gtr Wawa 4.sf2
sf2/Gtr Wawa 5.sf2
sf2/Gtr Wawa 6.sf2
sf2/Guitar Hit On It.sf2
sf2/Harmonica.sf2
sf2/Hip Hop Hit.sf2
sf2/Hollow Deep.sf2
sf2/Home Bass 1.sf2
sf2/Home Bass 2.sf2
sf2/Jazz Short.sf2
sf2/Keyngdom.sf2
sf2/Kick Scratch 1.sf2
sf2/Kick Scratch 2.sf2
sf2/Kit 1.sf2
sf2/Kit 10.sf2
sf2/Kit 2.sf2
sf2/Kit 3.sf2
sf2/Kit 4.sf2
sf2/Kit 5.sf2
sf2/Kit 6.sf2
sf2/Kit 7.sf2
sf2/Kit 8.sf2
sf2/Kit 9.sf2
