*.lcdoc
*.2.lcm
*.ferruslogic.library.fluidsynth.lci
*.xml
*.ferruslogic.library.fluidsynth.1.0.0.lce
code/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
sf2/mega20.sf2
sf2/FreePatsGM-20201122.sf2
sf2/4600_effects.sf2
sf2/ChoriumRevA.sf2
sf2/Eviltimp.sf2
sf2/Fury.dls
sf2/jgb909.sf2
sf2/Jonpv Slap Bass.sf2
sf2/LP Overdriven Guitar.sf2
sf2/Plastic Strings.sf2
sf2/Scratch_2_0.sf2
sf2/Super_Nintendo_Unofficial_update.sf2
sf2/Casio Pt-68.sf2
sf2/Casio Sk-1.sf2
sf2/DethMetal 2.nki
sf2/DethMetal-New.dls
sf2/SlamminKit.dls
sf2/+All Hip Hop Beats.sf2
sf2/+Hip Hop Combo.sf2
sf2/Beat 1 113 BPM.sf2
sf2/Beat 2 115 BPM.sf2
sf2/Beat 3 115 BPM.sf2
sf2/Beat 4 118 BPM.sf2
sf2/Beat 5 118 BPM.sf2
sf2/Beat 6 119 BPM.sf2
sf2/Beat 7 121 BPM.sf2
sf2/Beat 8 121 BPM.sf2
sf2/Beat 9 123 BPM.sf2
sf2/Beats 113-123bpm.sf2
sf2/Drum Stab.sf2
sf2/Drum Stall.sf2
sf2/DX Bass 1.sf2
sf2/MC Scratch.sf2
sf2/Mini 1.sf2
sf2/Mini 2.sf2
sf2/Mini 3.sf2
sf2/Mini 4.sf2
sf2/Mood Strings.sf2
sf2/Oh Yaaah.sf2
sf2/Organ Blipper.sf2
sf2/Phat Pad.sf2
sf2/Phlappy Bass.sf2
sf2/Piano Wave.sf2
sf2/Plunger.sf2
sf2/Pocket Bass.sf2
sf2/Power Q Bass.sf2
sf2/PPG Bass.sf2
sf2/Pretty EP.sf2
sf2/Q Attack Sub.sf2
sf2/Q Bass 1.sf2
sf2/Q Bass 2.sf2
sf2/Q Bass 3.sf2
sf2/Rast Keys.sf2
sf2/Ripped.sf2
sf2/Sad Guitar.sf2
sf2/Saw Bass.sf2
sf2/Sax FX 1.sf2
sf2/Sax FX 2.sf2
sf2/Sax FX 3.sf2
sf2/Sax Riff.sf2
sf2/Scratch Diss.sf2
sf2/Scratch Here.sf2
sf2/Scratch On It.sf2
sf2/Scratch Out!.sf2
sf2/Scratch Up.sf2
sf2/SE Sub 1.sf2
sf2/SE Sub 2.sf2
sf2/SE Sub 3.sf2
sf2/SE Sub 4.sf2
sf2/SE Sub 5.sf2
sf2/SE Sub 6.sf2
sf2/SE Sub 7.sf2
sf2/Soul Oohs.sf2
sf2/Spacey Keys.sf2
sf2/Street Bass.sf2
sf2/Tape Pull.sf2
sf2/Tape Stop.sf2
sf2/TB303 1.sf2
sf2/TB303 2.sf2
sf2/TB303 3.sf2
sf2/TB303 4.sf2
sf2/Trumpet FX 1.sf2
sf2/Trumpet FX 2.sf2
sf2/Trumpet FX 3.sf2
sf2/Trumpet FX 4.sf2
sf2/Trumpet FX 5.sf2
sf2/Up Scratch.sf2
sf2/DX Bass 2.sf2
sf2/DX Bass 3.sf2
sf2/EP Bass 1.sf2
sf2/EP Bass 2.sf2
sf2/EP Bass 3.sf2
sf2/EP Fog.sf2
sf2/EP Hits.sf2
sf2/EP Roll 1.sf2
sf2/EP Roll 2.sf2
sf2/EP Roll 3.sf2
sf2/Frenzy Scratch.sf2
sf2/Fretless 1.sf2
sf2/Fretless 2.sf2
sf2/Fretless 3.sf2
sf2/Fretless 4.sf2
sf2/Gtr Another Hit.sf2
sf2/Gtr Chord Chuck.sf2
sf2/Gtr Funky Hit.sf2
sf2/Gtr Hi Chuck.sf2
sf2/Gtr Jangle.sf2
sf2/Gtr Jazz Riff 1.sf2
sf2/Gtr Jazz Riff 2.sf2
sf2/Gtr Jazz Riff 3.sf2
sf2/Gtr Klean Chuck.sf2
sf2/Gtr Riff 1.sf2
sf2/Gtr Riff 2.sf2
sf2/Gtr Riff 3.sf2
sf2/Gtr Scratch.sf2
sf2/Gtr Slide Riff.sf2
sf2/Gtr Up Stroke.sf2
sf2/Gtr Wawa 1.sf2
sf2/Gtr Wawa 2.sf2
sf2/Gtr Wawa 3.sf2
sf2/Gtr Wawa 4.sf2
sf2/Gtr Wawa 5.sf2
sf2/Gtr Wawa 6.sf2
sf2/Guitar Hit On It.sf2
sf2/Harmonica.sf2
sf2/Hip Hop Hit.sf2
sf2/Hollow Deep.sf2
sf2/Home Bass 1.sf2
sf2/Home Bass 2.sf2
sf2/Jazz Short.sf2
sf2/Keyngdom.sf2
sf2/Kick Scratch 1.sf2
sf2/Kick Scratch 2.sf2
sf2/Kit 1.sf2
sf2/Kit 10.sf2
sf2/Kit 2.sf2
sf2/Kit 3.sf2
sf2/Kit 4.sf2
sf2/Kit 5.sf2
sf2/Kit 6.sf2
sf2/Kit 7.sf2
sf2/Kit 8.sf2
sf2/Kit 9.sf2
code/._x86_64-win32
code/._x86_64-mac
code/._x86_64-android
code/._x86-win32
code/._x86-android
code/._armv7-android
code/._arm64-android
code/._.DS_Store
._sf2
._fsTest2.1.livecode
._.DS_Store
sf2/._Yamaha_XG_Sound_Set.sf2
sf2/._wt_22khz.sf2
sf2/._wt_190k_G.sf2
sf2/._VintageDreamsWaves-v2.sf3
sf2/._VintageDreamsWaves-v2.sf2
sf2/._Up Scratch.sf2
sf2/._Trumpet FX 5.sf2
sf2/._Trumpet FX 4.sf2
sf2/._Trumpet FX 3.sf2
sf2/._Trumpet FX 2.sf2
sf2/._Trumpet FX 1.sf2
sf2/._TimGM6mb.sf2
sf2/._TB303 4.sf2
sf2/._TB303 3.sf2
sf2/._TB303 2.sf2
sf2/._TB303 1.sf2
sf2/._Tape Stop.sf2
sf2/._Tape Pull.sf2
sf2/._Synth E.sf2
sf2/._Super_Nintendo_Unofficial_update.sf2
sf2/._Super Saw 3.sf2
sf2/._Super Saw 2.sf2
sf2/._Super Saw 1.sf2
sf2/._Street Bass.sf2
sf2/._STEREO.SF2
sf2/._Spacey Keys.sf2
sf2/._Soul Oohs.sf2
sf2/._Solar Wind.sf2
sf2/._SNES_Unofficial_update.sf2
sf2/._SlamminKit.sf2
sf2/._SlamminKit.dls
sf2/._Sine Wave.sf2
sf2/._SE Sub 7.sf2
sf2/._SE Sub 6.sf2
sf2/._SE Sub 5.sf2
sf2/._SE Sub 4.sf2
sf2/._SE Sub 3.sf2
sf2/._SE Sub 2.sf2
sf2/._SE Sub 1.sf2
sf2/._Scratch_2_0.sf2
sf2/._Scratch Up.sf2
sf2/._Scratch Out!.sf2
sf2/._Scratch On It.sf2
sf2/._Scratch Here.sf2
sf2/._Scratch Diss.sf2
sf2/._Sax Riff.sf2
sf2/._Sax FX 3.sf2
sf2/._Sax FX 2.sf2
sf2/._Sax FX 1.sf2
sf2/._Saw Bass.sf2
sf2/._Sad Guitar.sf2
sf2/._Ripped.sf2
sf2/._Rast Keys.sf2
sf2/._Q Bass 3.sf2
sf2/._Q Bass 2.sf2
sf2/._Q Bass 1.sf2
sf2/._Q Attack Sub.sf2
sf2/._Pulse Wobbler.sf2
sf2/._Pretty EP.sf2
sf2/._PPG Bass.sf2
sf2/._Power Q Bass.sf2
sf2/._Poly Special Mono.sf2
sf2/._Pocket Bass.sf2
sf2/._Plunger.sf2
sf2/._Plastic Strings.sf2
sf2/._Piano Wave.sf2
sf2/._Phlappy Bass.sf2
sf2/._Phat Pad.sf2
sf2/._Perfect Sine.sf2
sf2/._Organ Blipper.sf2
sf2/._Oh Yaaah.sf2
sf2/._MT32.sf2
sf2/._Mood Strings.sf2
sf2/._Mini 4.sf2
sf2/._Mini 3.sf2
sf2/._Mini 2.sf2
sf2/._Mini 1.sf2
sf2/._mega20.sf2
sf2/._MC Scratch.sf2
sf2/._LP Overdriven Guitar.sf2
sf2/._LAYERED.SF2
sf2/._Kit 9.sf2
sf2/._Kit 8.sf2
sf2/._Kit 7.sf2
sf2/._Kit 6.sf2
sf2/._Kit 5.sf2
sf2/._Kit 4.sf2
sf2/._Kit 3.sf2
sf2/._Kit 2.sf2
sf2/._Kit 10.sf2
sf2/._Kit 1.sf2
sf2/._Kick Scratch 2.sf2
sf2/._Kick Scratch 1.sf2
sf2/._Keyngdom.sf2
sf2/._Kaputt Sine.sf2
sf2/._Jonpv Slap Bass.sf2
sf2/._jgb909.sf2
sf2/._Jazz Short.sf2
sf2/._Industromatic.SF2
sf2/._HypsiChord.sf2
sf2/._HyperSoundGM.sf2
sf2/._HyperFlute.sf2
sf2/._HyperBoing.sf2
sf2/._Hyper Saw.sf2
sf2/._Home Bass 2.sf2
sf2/._Home Bass 1.sf2
sf2/._Hollow Deep.sf2
sf2/._Hip Hop Hit.sf2
sf2/._Harmonica.sf2
sf2/._Happy Mellow.sf2
sf2/._Guitar Hit On It.sf2
sf2/._Gtr Wawa 6.sf2
sf2/._Gtr Wawa 5.sf2
sf2/._Gtr Wawa 4.sf2
sf2/._Gtr Wawa 3.sf2
sf2/._Gtr Wawa 2.sf2
sf2/._Gtr Wawa 1.sf2
sf2/._Gtr Up Stroke.sf2
sf2/._Gtr Slide Riff.sf2
sf2/._Gtr Scratch.sf2
sf2/._Gtr Riff 3.sf2
sf2/._Gtr Riff 2.sf2
sf2/._Gtr Riff 1.sf2
sf2/._Gtr Klean Chuck.sf2
sf2/._Gtr Jazz Riff 3.sf2
sf2/._Gtr Jazz Riff 2.sf2
sf2/._Gtr Jazz Riff 1.sf2
sf2/._Gtr Jangle.sf2
sf2/._Gtr Hi Chuck.sf2
sf2/._Gtr Funky Hit.sf2
sf2/._Gtr Chord Chuck.sf2
sf2/._Gtr Another Hit.sf2
sf2/._gs_instruments.dls
sf2/._GMbank.sf2
sf2/._GeneralUser GS FluidSynth v1.44.sf2
sf2/._Fury.dls
sf2/._Fretless 4.sf2
sf2/._Fretless 3.sf2
sf2/._Fretless 2.sf2
sf2/._Fretless 1.sf2
sf2/._Frenzy Scratch.sf2
sf2/._FreePatsGM-20201122.sf2
sf2/._FreeFont.sf2
sf2/._FM Modulator.sf2
sf2/._example.sf2
sf2/._Eviltimp.sf2
sf2/._EP Roll 3.sf2
sf2/._EP Roll 2.sf2
sf2/._EP Roll 1.sf2
sf2/._EP Hits.sf2
sf2/._EP Fog.sf2
sf2/._EP Bass 3.sf2
sf2/._EP Bass 2.sf2
sf2/._EP Bass 1.sf2
sf2/._Ed Vargos T6 Kit.sf2
sf2/._Ed Vargos C Kit.sf2
sf2/._DX Bass 3.sf2
sf2/._DX Bass 2.sf2
sf2/._DX Bass 1.sf2
sf2/._Drum Stall.sf2
sf2/._Drum Stab.sf2
sf2/._Dirty Sub.sf2
sf2/._Dethmetal.SF2
sf2/._DethMetal-New.dls
sf2/._DethMetal 2.nki
sf2/._Dance Trance.sf2
sf2/._CrujienteHevy guitar.sf2
sf2/._Concertina.sf2
sf2/._ChoriumRevA.sf2
sf2/._Chaos Bank V1.9 (12Mb).sf2
sf2/._Casio Sk-1.sf2
sf2/._Casio Pt-68.sf2
sf2/._Candy Bee.sf2
sf2/._Beeper.sf2
sf2/._Beats 113-123bpm.sf2
sf2/._Beat 9 123 BPM.sf2
sf2/._Beat 8 121 BPM.sf2
sf2/._Beat 7 121 BPM.sf2
sf2/._Beat 6 119 BPM.sf2
sf2/._Beat 5 118 BPM.sf2
sf2/._Beat 4 118 BPM.sf2
sf2/._Beat 3 115 BPM.sf2
sf2/._Beat 2 115 BPM.sf2
sf2/._Beat 1 113 BPM.sf2
sf2/._BASIC.SF2
sf2/._atarifixrealgood.sf2
sf2/._Analog Saw.sf2
sf2/._Acid SQ Neutral.sf2
sf2/._4600_effects.sf2
sf2/._4 MB General MIDI.dls
sf2/._2MBGMGS.SF2
sf2/._198-Stratocaster VS.sf2
sf2/._+Hip Hop Combo.sf2
sf2/._+All Hip Hop Beats.sf2
Research/._void fluid_synth_set_sample_.textClipping
Research/._Untitled.txt
Research/._uint8, uint16, uint32, uint64 (MATLAB Functions).webloc
Research/._Real-time MIDI router--The M.textClipping
Research/._QWS Articles.webloc
Research/._midi - fluidsynth soundfont selection not persisting - Stack Overflow.webloc
Research/._libfluidsynth- sfont.h File Reference.webloc
Research/._libfluidsynth- seq.h File Reference.webloc
Research/._libfluidsynth- log.h File Reference.webloc
Research/._libfluidsynth- fluidsynth_metronome.c.webloc
Research/._libfluidsynth- fluidsynth_arpeggio.c.webloc
Research/._libfluidsynth- Command Interface.webloc
Research/._libfluidsynth- _fluid_sfont_t Struct Reference 2.webloc
Research/._libfluidsynth- _fluid_preset_t Struct Reference.webloc
Research/._For posterity, here's how to.textClipping
Research/._fluidsynth-2.1.5.zip
Research/._Creating a Fluidsynth Hello World App for Android | by Hector Ricardo | The Startup | Oct, 2020 | Medium.webloc
Research/._Changing patches over MIDI using Bank Select Controller.webloc
MIDI files for testing/._VANESSA MAE-Toccata & Fugue XG.MID
MIDI files for testing/._TARKUS.MID
MIDI files for testing/._sonata-c.mid
MIDI files for testing/._DEADOF.MID
MIDI files for testing/._5THSYMP.MID
code/x86_64-mac/._libsndfile.1.dylib~
code/x86_64-mac/._editpath.sh
code/x86_64-android/._preloadable_libiconv.so
code/x86_64-android/._libz.so
code/x86_64-android/._libvorbisfile.so
code/x86_64-android/._libvorbisenc.so
code/x86_64-android/._libvorbis.so
code/x86_64-android/._libsndfile.so
code/x86_64-android/._libogg.so
code/x86_64-android/._liboboe.so
code/x86_64-android/._libintl.so
code/x86_64-android/._libiconv.so
code/x86_64-android/._libgthread-2.0.so
code/x86_64-android/._libgobject-2.0.so
code/x86_64-android/._libgmodule-2.0.so
code/x86_64-android/._libglib-2.0.so
code/x86_64-android/._libgio-2.0.so
code/x86_64-android/._libfluidsynth.so
code/x86_64-android/._libfluidsynth-assetloader.so
code/x86_64-android/._libFLAC.so
code/x86_64-android/._libffi.so
code/x86_64-android/._libcharset.so
code/x86_64-android/._libc++_shared.so
code/x86-win32/._libsndfile-1.dll
code/x86-win32/._libinstpatch-2.dll
code/x86-win32/._libgthread-2.0-0.dll
code/x86-win32/._libgobject-2.0-0.dll
code/x86-win32/._libglib-2.0-0.dll
code/x86-win32/._libfluidsynth-2.dll
code/x86-win32/._intl.dll
code/x86-android/._preloadable_libiconv.so
code/x86-android/._libz.so
code/x86-android/._libvorbisfile.so
code/x86-android/._libvorbisenc.so
code/x86-android/._libvorbis.so
code/x86-android/._libsndfile.so
code/x86-android/._libogg.so
code/x86-android/._liboboe.so
code/x86-android/._libintl.so
code/x86-android/._libiconv.so
code/x86-android/._libgthread-2.0.so
code/x86-android/._libgobject-2.0.so
code/x86-android/._libgmodule-2.0.so
code/x86-android/._libglib-2.0.so
code/x86-android/._libgio-2.0.so
code/x86-android/._libfluidsynth.so
code/x86-android/._libfluidsynth-assetloader.so
code/x86-android/._libFLAC.so
code/x86-android/._libffi.so
code/x86-android/._libcharset.so
code/x86-android/._libc++_shared.so
code/armv7-android/._preloadable_libiconv.so
code/armv7-android/._libz.so
code/armv7-android/._libvorbisfile.so
code/armv7-android/._libvorbisenc.so
code/armv7-android/._libvorbis.so
code/armv7-android/._libsndfile.so
code/armv7-android/._libogg.so
code/armv7-android/._liboboe.so
code/armv7-android/._libintl.so
code/armv7-android/._libiconv.so
code/armv7-android/._libgthread-2.0.so
code/armv7-android/._libgobject-2.0.so
code/armv7-android/._libgmodule-2.0.so
code/armv7-android/._libglib-2.0.so
code/armv7-android/._libgio-2.0.so
code/armv7-android/._libfluidsynth.so
code/armv7-android/._libfluidsynth-assetloader.so
code/armv7-android/._libFLAC.so
code/armv7-android/._libffi.so
code/armv7-android/._libcharset.so
code/armv7-android/._libc++_shared.so
code/arm64-android/._preloadable_libiconv.so
code/arm64-android/._libz.so
code/arm64-android/._libvorbisfile.so
code/arm64-android/._libvorbisenc.so
code/arm64-android/._libvorbis.so
code/arm64-android/._libsndfile.so
code/arm64-android/._libogg.so
code/arm64-android/._liboboe.so
code/arm64-android/._libintl.so
code/arm64-android/._libiconv.so
code/arm64-android/._libgthread-2.0.so
code/arm64-android/._libgobject-2.0.so
code/arm64-android/._libgmodule-2.0.so
code/arm64-android/._libglib-2.0.so
code/arm64-android/._libgio-2.0.so
code/arm64-android/._libfluidsynth.so
code/arm64-android/._libfluidsynth-assetloader.so
code/arm64-android/._libFLAC.so
code/arm64-android/._libffi.so
code/arm64-android/._libcharset.so
code/arm64-android/._libc++_shared.so
._fluidsynth_MIDIINTests.lcb
._x86_64-mac
x86_64-mac/._editpath.sh
x86_64-mac/._libsndfile.1.dylib~
com.ferruslogic.library.fluidsynth.0.5.lce
